{{#theAsker}}
	<div class="title">{{theAsker}} asked...</div>
{{/theAsker}}
<a data-fancybox="gallery" data-type="iframe" data-src="{{url}}" href="javascript:;">
	<div class="overprint nowrap">
		<div class="question">
			<span class="question">Q:</span>
			{{ theQuestion }}
		</div>
		<p>&nbsp;</p>
		<div class="answer">
			<span class="answer">A:</span>
			{{ theAnswer }}
		</div>
	</div>
</a>