<a data-fancybox="gallery" data-type="iframe" data-src="{{url}}" href="javascript:;">
	{{#title}}
		<div class="title">{{title}} &rarr;</div>
	{{/title}}

		<div class="overprint nowrap">{{text}}</div>
</a>
