<a data-fancybox="gallery" href="{{preview_url}}">
{{#thumbnail.urls}}
<img src="{{url}}" width="100%" />
{{/thumbnail.urls}}
</a>
{{#preview_urls}}
      {{#original_size}}
            <a data-fancybox="gallery" href="{{url}}"></a>
      {{/original_size}}
{{/preview_urls}}