<div style="display: none;" id="hidden-content{{id}}" class="" data-selectable="true">
{{{caption}}}<br/>
<a href="{{sourceLink}}" target="_blank" rel="noopener">{{sourceTitle}}</a><br/>

{{#preview_urls}}
      {{#original_size}}
            <img src="{{url}}"></img>
      {{/original_size}}
{{/preview_urls}}
</div>
<a data-fancybox="gallery" data-src="#hidden-content{{id}}" href="javascript:;">
    {{#thumbnail.urls}}
        <img src="{{url}}" width="100%" />
    {{/thumbnail.urls}}
</a>
