<div style="display: none; max-width: 800px;" id="hidden-content{{id}}" class="" data-selectable="true">
	&ndash;&nbsp;{{source}}
</div>
<a data-fancybox="" data-src="#hidden-content{{id}}" href="javascript:;">
	<div class="overprint">
		<div class="serif">&#147;{{text}}&#148;</div>
		&ndash;&nbsp;{{source}}
	</div>
</a>
