{{#title}}
	<div class="title">{{{title}}}</div>
{{/title}}
<div style="display: none; max-width: 800px;" id="hidden-content{{id}}" class="" data-selectable="true">
	{{{body}}}
</div>
<a data-fancybox="" data-src="#hidden-content{{id}}" href="javascript:;">
	<div class="overprint nowrap">
		{{text}}
	</div>
</a>
