{{#title}}
	<div class="title">{{{title}}}</div>
{{/title}}
<div style="display: none; max-width: 800px;" id="hidden-content" class="" data-selectable="true">
	{{text}}
</div>
<a data-fancybox="" data-src="#hidden-content" href="javascript:;">
	<div class="overprint nowrap">
		{{text}}
	</div>
</a>
