<div class="play_overlay"></div>

<a data-fancybox="gallery" href="{{url}}">

{{#frames}}
	<img src="{{url}}"/>
{{/frames}}{{^frames}}
	<img src="{{thumbnail.url}}" width="{{thumbnail.width}}" height="{{thumbnail.height}}"/>
{{/frames}}

</a>