<div class="play_overlay"></div>
<div style="display: none;" id="hidden-content{{id}}" class="" data-selectable="true">
{{{caption}}}<br/>
<a href="{{sourceLink}}" target="_blank" rel="noopener">{{sourceTitle}}</a><br/>
<video src="{{preview_url}}" controls loop autoplay muted></video><br/>
</div>

<a data-fancybox="gallery" data-src="#hidden-content{{id}}" href="javascript:;">
{{#frames}}
	<img src="{{url}}"/>
{{/frames}}{{^frames}}
	<img src="{{thumbnail.url}}" width="{{thumbnail.width}}" height="{{thumbnail.height}}"/>
{{/frames}}

</a>